/**
 * Metropolis theme for reveal.js.
 * Author: Tom Ranner (T.Ranner at leeds.ac.uk)
 * Base on ideas from mtheme by Matthias Vogelgesang
 * https://github.com/matze/mtheme
 */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono");
/**
 * Metropolis colors by Ethan Schoonover
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto; }

.reveal h1:after,
.reveal h2:after,
.reveal h3:after {
  left: 0px;
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  margin-top: 2px;
  content: " ";
  background: #EB811B; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
:root {
  --background-color: #fafafa;
  --main-font: Fira Sans Light, sans-serif;
  --main-font-size: 30px;
  --main-color: #23373b;
  --block-margin: 20px;
  --heading-margin: 0 0 20px 0;
  --heading-font: Fira Sans Light, sans-serif;
  --heading-color: #23373b;
  --heading-line-height: 1.2;
  --heading-letter-spacing: normal;
  --heading-text-transform: none;
  --heading-text-shadow: none;
  --heading-font-weight: normal;
  --heading1-text-shadow: none;
  --heading1-size: 1.5em;
  --heading2-size: 1.5em;
  --heading3-size: 1.5em;
  --heading4-size: 1.5em;
  --code-font: Fira Mono regular, monospace;
  --link-color: #EB811B;
  --link-color-hover: #14B03D;
  --selection-background-color: #EB811B;
  --selection-color: #fafafa; }

.reveal-viewport {
  background: #fafafa;
  background-color: #fafafa; }

.reveal {
  font-family: "Fira Sans Light", sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #23373b; }

.reveal ::selection {
  color: #fafafa;
  background: #EB811B;
  text-shadow: none; }

.reveal ::-moz-selection {
  color: #fafafa;
  background: #EB811B;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #23373b;
  font-family: "Fira Sans Light", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 1.5em; }

.reveal h2 {
  font-size: 1.5em; }

.reveal h3 {
  font-size: 1.5em; }

.reveal h4 {
  font-size: 1.5em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Remove trailing margins after titles */
.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
  margin-bottom: 0; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: "Fira Mono regular", monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: "Fira Mono regular", monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

.reveal img {
  margin: 20px 0; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #EB811B;
  text-decoration: none;
  transition: color .15s ease; }

.reveal a:hover {
  color: #14B03D;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #ab5b0f; }

/*********************************************
 * Frame helper
 *********************************************/
.reveal .r-frame {
  border: 4px solid #23373b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal a .r-frame {
  transition: all .15s linear; }

.reveal a:hover .r-frame {
  border-color: #EB811B;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #EB811B; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #EB811B; }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fafafa; } }

/***
* LOGOS:
***/
.logo {
  display: flex;
  justify-content: space-around; }

.logo img {
  width: 20%;
  height: auto; }

/***
* Multiple columns format:
***/

.container{
    display: flex;
}
.col{
    flex: 1;
}

/***
* References section
***/

.references {
    overflow-y: scroll;
    height: 50vh;
    font-size: 60%;
    text-align: left !important;
    margin: 12px 0;
    display: block;
}

/***
* Problem helper
***/

.problem {
    display: block;
    margin: 12px 0;
    overflow-x: auto;
    overflow-y: scroll !important;
    width: 100%;
    height: 80vh;
    font-size: 60%;
}
.problem:before {
    content: "Problem.";
    font-weight: bold;
    font-style: normal;
}
